
// Job paramaters to set for this environment

// Process setting

process {

  // Global cluster parameters
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,140,7,255] ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  // software dependencies moved to conda.config

  withName:DEEPVARIANT {
        time = { check_max( 72.h * task.attempt, 'time' ) }
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        cpus = 16
        container = "docker://google/deepvariant:1.4.0"
  }
  withName:MERGE_GVCFS {
        time = { check_max( 72.h * task.attempt, 'time' ) }
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        cpus = 8
        container = "docker://quay.io/mlin/glnexus:v1.3.1"
  }  
  withName:MERGE_ALL {
        time = { check_max( 72.h * task.attempt, 'time' ) }
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        cpus = 8
        container = "docker://quay.io/mlin/glnexus:v1.3.1"
  } 
}

//

